@import "../Mixins/variables.scss";

#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  min-height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  background: $colorWhite01;
}

.Container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}