.container form button {
    background-color: #f3bd5b;
    color: #EEEEEE;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.4s ease, color 0.4s ease;
    outline: none;
}

.container form button:hover {
    background-color: #dadada;
    color: #07090f;
}

.btn_pesquisa {
    font-weight: 600;
}