.EditButton {
    background-color: #0554F2;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: background-color 0.6s ease;

    &:hover {
        background-color: #0c46b9;
    }
}