@import "../../Mixins/variables.scss";

.Main {
    display: flex;
    justify-content: end;

    &__select {
        padding: 5px 12px;
        max-width: 200px;
        width: 100%;
        border: 1px solid #a7a7a7;
        border-radius: 8px;
        transition: border-color 0.4s ease;
        color: $colorGrey02;
        font-family: 'Poppins', sans-serif;
        line-height: 1.5;
        font-weight: 400;
    }
}