@import "../../Mixins/variables.scss";

.GestaoContent {
    flex: 1;

    &__bannerContainer {
        width: 100%;
        margin-bottom: 20px;

        &__image {
            margin-top: 90px;
            width: 100%;
            max-height: 310px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
        }
    }

    &__title {
        color: $colorBlack01;
        text-align: center;
    }
}

.GestaoContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    &__box {
        justify-content: center;
        display: flex;
        cursor: pointer;
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        gap: 20px;
    }

    &__subtitle {
        background-color: #f3bd5b;
        color: #EEEEEE;
        border: none;
        padding: 8px 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.4s ease, color 0.4s ease;

        &:hover {
            color: #EEEEEE;
            background-color: #f1a01d;
        }
    }
}

.containerAnalise {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    &__content {
        background: #fbfbfb;
        border: 2px solid transparent;
        border-radius: 24px;
        padding: 16px 24px 40px;
        max-width: 612px;
        width: 100%;
        text-decoration: none;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);

        &__title {
            color: $colorBlack01;
        }

        &__subtitle {
            color: $colorBlack01;
            font-weight: 400;

            &__span {
                font-weight: 600;
            }
        }
    }
}

.progress-bar {
    width: 300px;
    background-color: #ededed;
    border-radius: 8px;
    height: 15px;
    margin-bottom: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
}

.progress {
    background-color: #4CAF50;
    height: 100%;
    border-radius: 8px;
    text-align: center;
    color: white;
}