@import "../Mixins/variables.scss";

.Header {
    background-color: $colorBlue01;
    color: $colorWhite01;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.247);
    flex: 0;

    &__container {
        max-width: 1256px;
        margin: 0 auto;
        padding: 14px 10px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            max-width: 120px;
            width: 100%;
            margin-bottom: 10px;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }

        &__form {
            flex-grow: 1;
            margin: 0 20px;
            display: flex;
            flex-direction: row;
        }

        &__nav ul {
            list-style-type: none;
            padding: 10px 0;
            margin: 0 auto;
            display: flex;
            gap: 20px;

            & li {
                cursor: pointer;

                & a {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: .01em;
                    text-align: left;
                    text-transform: none;
                    color: $colorWhite01;
                    text-decoration: none;
                    transition: color 0.3s ease;
                    gap: 6px;
                    display: flex;
                    align-items: self-end;
                    text-transform: uppercase;

                    &:hover {
                        color: #0e1a53;
                    }
                }
            }
        }
    }
}