// Mixin de cores
$colorBlue01: #0554F2;
$colorBlue02: #076DF2;
$colorBlue03: #3445dd;

$colorWhite01: #FFFFFF;
$colorWhite02: #F2F2F2;

$colorGrey01: #EBEBEB;
$colorGrey02: #898989;

$colorBlack01: #1c1c1c;

$colorYellow01: #FFC018;

$colorGreen01: #298f28;
$colorGreen02: #5ec257;

$colorRed01: #f23838